OWNER_NAME="Xcelsama"
OWNER_NUMBER=
PAIRING_NUMBER=
MONGODB_URI=
PREFIX=.
WORKTYPE=public
MENU_CITY="Port Harcourt"
PASTEBIN_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
OPENAI_API_KEY=
OMDB_API_KEY=
TENOR_API_KEY=
JDOODLE_CLIENT_ID=
JDOODLE_CLIENT_SECRET=
THUMB_IMAGE="https://raw.githubusercontent.com/SecktorBot/Brandimages/main/logos/SocialLogo%201.png"
port=5000
AUTO_BIO=false
AUTO_REACTION=false
READ_MESSAGE=false
WARN_COUNT=3
DISABLE_PM=false
ANTI_BAD_WORD="fuck"
WELCOME_MESSAGE="*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
PACK_AUTHER="XLICON-MD"
PACK_NAME="WA-BOT"
ANTILINK_VALUES="chat.whatsapp.com"
STARTUP_MESSAGE=true
